<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="git_history.Properties.Settings.git_historyConnectionString" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=git_history;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="git_history.Properties.Settings.git_history2ConnectionString" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=git_history2;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
